* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main {
    display: grid;
    justify-items: center;
    align-items: center;
}
  
body {
    background-image: url('https://images.unsplash.com/photo-1511142878591-5040f0bdaadd?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8Zm9yZXN0fHx8fHx8MTY5NjI2NTI4NA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600');
    background-repeat: no-repeat;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
}

.line {
    margin: 40px;
    font-size: 35px;
    text-shadow: 2px 2px 10px beige;
}

.line h1::after {
    content: "";
    height: 4px;
    width: 0;
    display: inherit;
    background: rgb(120, 232, 207);
    transition: 0.5s ease-in all;
}

.line:hover h1::after {
    width: 100%;
}


.pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.img_pokemon {
    width: 100%;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    padding: 10px 10px 0px 10px;
}

.box {
    width: 11rem;
    background-color: aliceblue;
    text-align: center;
    position: relative;
    text-align: center;
}

.number {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(28, 49, 73);
    padding: 10px;
    border-radius: 0 0 0 20px;
    color: aliceblue;
}

.box:hover{
    transform: rotate(-1deg);
}

.box:hover .img_pokemon {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    animation: shake 0.6s;
    animation-iteration-count: infinite;
}
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.box:hover h2 {
    background-color: rgb(238, 168, 228);
}

.box:hover .types {
    background-color: rgb(65, 115, 240);
}

.box:hover .number {
    background-color: rgb(65, 115, 240);
}

input {
    width: 250px;
    margin-bottom: 50px;
    float: center;
    padding: 6px;
    border: none;
    font-size: 17px;
    border-style: groove;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}

h2 {
    background-color: rgb(236, 236, 131);
}


.types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    background-color: rgb(28, 49, 73);
    color: aliceblue;
    font-size: 13px;
}

#generation_buttons {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#generation_count {
    text-shadow: 1px 1px 5px black;
    color: beige;
    margin-bottom: 30px;
    font-size: 22px;
}


