* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
  
body {
 background-image: none;
  }

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
}


img {
    width: 10rem;
}