* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
  
body {
    background-image: url('https://images.unsplash.com/photo-1511142878591-5040f0bdaadd?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8Zm9yZXN0fHx8fHx8MTY5NjI2NTI4NA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600');
    background-repeat: no-repeat;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 80px;
}

.pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 30px;

}

.img_pokemon {
    width: 100%;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    padding: 10px 10px 0px 10px;
}

.box {
    width: 11rem;
    background-color: aliceblue;
    text-align: center;
    position: relative;
    text-align: center;
}

.number {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(28, 49, 73);
    padding: 10px;
    border-radius: 0 0 0 20px;
    color: aliceblue;
}

.box:hover .img_pokemon {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.box:hover h2 {
    background-color: rgb(238, 168, 228);
}

.box:hover .types {
    background-color: rgb(65, 115, 240);
}

.box:hover .number {
    background-color: rgb(65, 115, 240);
}

input {
    margin-bottom: 50px;
    float: center;
    padding: 6px;
    border: none;
    font-size: 17px;
    border-style: groove;
    border-width: 1px;
    border-color: black;
}

h2 {
    background-color: rgb(236, 236, 131);
}


.types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    background-color: rgb(28, 49, 73);
    color: aliceblue;
    font-size: 13px;
}

